<% layout('layouts/boilerplate') %>
</div><div class="row">
    <div class="col-6 offset-4">
        <h1>New Campground</h1>
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title"  name="campground[title]" value="<%=campground.title%>"> <!-- campground[title] => stores number of titles in campground  -->
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" type="text" id="location" value="<%=campground.location%>" name="campground[location]"> 
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Url</label>
                <input type="text" class="form-control" id="image" name="campground[image]" value="<%=campground.image%>">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" aria-describedby="price-label" value="<%=campground.price%>" name="campground[price]">
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="campground[description]" id="description" cols="30" rows="2" class="form-control"><%=campground.description%></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Update campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%=campground._id%>">Back To Campground</a>
    </div>
</div>